[submodule "gedcomfy/tests/example-Gramps-Trees"]
	path = gedcomfy/tests/external/example-Gramps-Trees
	url = https://github.com/emyoulation/example-Gramps-Trees
[submodule "gedcomfy/tests/external/gedcom-samples"]
	path = gedcomfy/tests/external/gedcom-samples
	url = https://github.com/findmypast/gedcom-samples.git
